{% extends "core/base.html" %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'portfolio/styles.css' %}" />
{% endblock %} {% block content %}
<div>
  <div class="my-projects-pp">
    <h1 class="highlight-color">Portfolio</h1>
    {% for project in projects %}
    <div class="project-item-pp">
      <img
        class="project-picture-pp"
        src="/media/{{project.thumbnail}}"
        alt="{{project.name}}"
      />
      <div class="project-content-pp">
        <h1 class="separator">{{project.name}}</h1>
        <div class="my-skills-pp separator">
          {% for skill in skills %}
          <div class="skill-item-pp">
            <img
              class="skill-picture"
              src="/media/{{skill.logo}}"
              alt="{{skill.skill}}"
            />
            <h3>{{skill.skill}}</h3>
          </div>
          {% endfor %}
        </div>
        {{project.description | safe}}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
