{% extends "core/base.html" %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'portfolio/styles.css' %}" />
{% endblock %} {% block content %}
<div>
  <div class="my-projects-pp">
    <h1 class="highlight-color">{{project.name}}</h1>
    <div class="project-item-pp">
      <img
        class="project-picture-pp"
        src="/media/{{project.thumbnail}}"
        alt="{{project.name}}"
      />
      <div class="project-content-pp">
        <div class="my-skills-pp separator">
          {% for skill in project.skills.all %}
          <div class="skill-item-pp">
            <img
              class="skill-picture"
              src="/media/{{skill.logo}}"
              alt="{{skill.skill}}"
            />
            <h3>{{skill.skill}}</h3>
          </div>
          {% endfor %}
        </div>
        <div>{{project.description | safe}}</div>
        <div class="button-container separator-margin">
          {% if project.google_play_url %}
          <a href="{{ project.google_play_url }}" class="btn btn-google-play">
            <i class="fab fa-google-play"></i> Google Play
          </a>
          {% endif %} {% if project.appstore_url %}
          <a href="{{ project.appstore_url }}" class="btn btn-app-store">
            <i class="fab fa-apple"></i> App Store
          </a>
          {% endif %} {% if project.project_url %}
          <a href="{{ project.project_url }}" class="btn btn-website">
            <i class="fas fa-globe"></i> Website
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    </div>
    <div class= "project-contents">
      <h1 class="center">Project content</h1>
      {% for content in project_content %}
        <div class="project-content">
          <h2 class="highlight-color">{{content.title}}</h2>
          <div class="content-item-pp">
            <section class="slider-wrapper">
              <button class="slide-arrow" id="slide-arrow-prev">&#8249;</button>
              <div class="slides-container" id="slides-container">
                {% for image in content.images.all %}
                <div class="slide">
                  <img class="project-picture-slider-pp" src="/media/{{ image.image }}" alt="{{ content.title }}">
                </div>
                {% endfor %}
              </div>
              <button class="slide-arrow" id="slide-arrow-next">&#8250;</button>
            </section>
            <div class="content-content-pp">
              <div>{{content.description | safe}}</div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>


<script>
  const slidesContainer = document.getElementById("slides-container");
  const slide = document.querySelector(".slide");
  const prevButton = document.getElementById("slide-arrow-prev");
  const nextButton = document.getElementById("slide-arrow-next");

  nextButton.addEventListener("click", () => {
    const slideWidth = slide.clientWidth;
    slidesContainer.scrollLeft += slideWidth;
  });

  prevButton.addEventListener("click", () => {
    const slideWidth = slide.clientWidth;
    slidesContainer.scrollLeft -= slideWidth;
  });
</script>
{% endblock content %}


