{% extends "core/base.html" %} {% load static %} {% block content %}
<div class="description-card">
  <div class="description-left-column">
    <h1>I'm <span class="highlight">{{name}}</span></h1>
    <h3 class="short-description">{{  personal_data.short_description }}</h3>
    <h3 class="highlight"> About me </h3>
    <div class= "about-me">
      <hr class="line-horizontal"></hr>
      <p class="about-me-content">{{  personal_data.about_me }}</p>
    </div>
    <a class="rounded-line-button separator" href="mailto:{{contact_data.email}}?subject=Developer {{name}}">Contact me</a>
  </div>
  <div class="description-right">
    <img
      class="profile-picture"
      src="/media/{{ personal_data.profile_picture }}"
      alt="Profile picture"
    />
    <div class="social-media">
      <hr class="line"></hr>
      <a href="{{contact_data.whatsapp_url}}" target="_blank" class="social-link">
        <i class="fab fa-whatsapp"></i>
      </a>
      <a href="mailto:{{contact_data.email}}?subject=Developer {{name}}" target="_blank" class="social-link">
        <i class="fas fa-envelope"></i>
      </a>
      <a href="{{contact_data.linkedin}}" target="_blank" class="social-link">
        <i class="fab fa-linkedin"></i>
      </a>
      <hr class="line"></hr>
    </div>
  </div>
</div>
<div class="my-skills">
  <h1 class="highlight-color"> My skills </h1>
  <div class="my-skills-content">
    {% for skill in skills %}
    <div class="skill-item" main="{{skill.main_skill}}">
      <img
      class="skill-picture"
      src="/media/{{skill.logo}}"
      alt="{{skill.skill}}"
    />
    <h3>{{skill.skill}}</h3>
    </div>
    {% endfor %}
  </div>  
</div>
<div class="my-projects">
  <h1 class="highlight-color"> Portfolio </h1>
  <div class="my-projects-content">
    {% for project in projects %}
    <a class="a-styleless" href="/portfolio/{{project.id}}">
      <div class="project-item">
          <img
          class="project-picture"
          src="/media/{{project.thumbnail}}"
          alt="{{project.name}}"
        />
        <div class="project-content">
          <h3>{{project.name}}</h3>
          <p>{{project.short_description}}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>  
</div>
<div class="my-experiences">
  <h1 class="highlight-color"> Experience </h1>
  <div class="my-experiences-content">
    {% for experience in experiences %}
      <div class="experience-item" currently="{{ experience.current_job }}">
        <div class="year-experience">
          <div class="year-column">
            <div class="year-tag">{{ experience.get_finish_date }}</div>
            <div class="year-tag">{{ experience.get_start_date }} </div>
          </div>
          <div class="line-circle">
            <div class="circle-year"></div>
            <div class="line-year"></div>
            <div class="circle-year"></div>
          </div>
        </div>
        <div class="content-experience">
            <h2>{{ experience.job_title }}</h2>
            <h3>{{ experience.company }}</h3>
            {{ experience.description | safe  }}
        </div>
      </div>  
    {% endfor %}
  </div>  
</div>
{% endblock content %}
