:root {
    --main-color: #ffb6c1;
    --background-color: #333;
    --background-item-color: #565555;
}

body {
    font-family: "Arial", sans-serif; 
}

.navbar {
    display: flex;
    justify-content: center;

}

a {
    text-decoration: none;
}

 .navbar a {
    color: white;
    margin: 0 10px;
}

.navbar a:hover {
    color: #ffb6c1;
} 

body {
background-color: #333; 
color: white; 
}

.highlight{
    color: #ffb6c1;
   font-size: 1.5em;
}

.highlight-color{
    color: #ffb6c1;
}

.description-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5em;
}

.description-left-column{
    display: flex ;
    flex-direction: column; 
    padding: 20px 0;
}

.description-right{
    display: flex ;
    flex-direction: row;
    align-items: flex-end;
}

.short-description{
    margin: 5px 0 20px 0;
}

h1, h2, h3{
    margin: 0;
}

p {
    margin:  5px 0;
}



.rounded-line-button{
    background-color: var(--background-color);
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 4px;
    width: fit-content;
    padding: 7px 10px;
    
}

.rounded-line-button:hover{
    background-color: var(--main-color);
    color: var(--background-color);
    border-radius: 4px;
    cursor: pointer;
}

.separator{
    margin: 10px 0;
}

.profile-picture{
    width: 500px;
    height: auto;
    filter: grayscale(100%);
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-link {
    display: block; 
    flex-direction: row;
    margin-bottom: 10px; 
    color: white; 
    font-size: 35px;
}

.social-link:hover {
    color: var(
        --main-color
    );
}

.line {
    border: none; 
    width: 3px; 
    height: 4em; 
    background-color: var(--main-color); 
    margin: 10px 0; 
}

.line-horizontal {
    border: none; 
    height: 3px; 
    width: 10em; 
    min-width: 50px;
    background-color: var(--main-color); 
    margin: 10px 0; 
}

.about-me{
    display: flex;
    flex-direction: row;
}

.about-me-content{
    margin: 0 10px;
    line-height: 25px;
}

.my-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0;
}
.my-skills-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-item{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 180px;
    height: 180px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--background-item-color);
}

.skill-item[main="True"]{
    background-color: var(--main-color);
}

.skill-picture{
    height: auto;
    width: 8em; 
}

.my-experiences{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0;
    background-color: var(--background-item-color);
}
.my-experiences-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

  
.experience-item {
    display: flex;
    align-items: start;
    margin: 10px;
    width: 500px;
}

.year-experience {
    display: flex;
    align-items: center;
    height: 100%;
}

.year-column{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    height: 100%; 
    margin: 0 10px;
}

.line-circle{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; 
    
}

.year-tag{
    background-color: #333;
    padding: 10px;
    border-radius: 10%;
    text-align: center;
}

.line-year {
    height: 100%;
    width: 2px; 
    background-color: var(--main-color);
    margin: 5px 0;
}

.circle-year {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--main-color);   
}

.content-experience {
    margin: 0 10px; 
}

@media screen and (max-width: 768px) {
    .description-card {
        flex-direction: column;
        margin: 0 20px;
    }

    .description-right {
        flex-direction: column;
        align-items: center;
    }

    .social-media{
        flex-direction: row;
    }
    .social-link{
        margin: 0 10px;
    }
    .skill-item{
        height: 5.5em;
        width: 5.5em;
    }
    .skill-picture{
        width: 3em;
    }

    .experience-item {
        width: 400px;
    }
}